.flex-container {
    display: flex;
}


h1 {
    text-align: center;
    width: 100%;
}

.team-member-card {
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member-card {
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.team-member-card {
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}