
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #776D5A; 
    color: #000100; 
}

header {
    background-color: #FB6107; 
    color: #000100;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #002400;
}

header h1 {
    font-size: 3em;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-align: center;
}
